default:
    suites:
        default:
            contexts:
                - FeatureContext
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        Behat\MinkExtension:
            base_url: "http://127.0.0.1:1337"
            sessions:
                default:
                    goutte: ~